# VS Code
.vscode/

# Build directories
build/
out/
cmake-build-*/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Utility files
utils/